node_modules
dist
.env
.git
npm-debug.log
Dockerfile
docker-compose.yml
**/node_modules
**/.git
TestChat1.ts
TestChat2.ts 
src/auth/auth.controller.spec.ts
src/chats/chat.controller.spec.ts
src/chats/chat.service.spec.ts